<!DOCTYPE html>
<html lang="en">

<head>
  <title>Battleship Online</title>
  <link rel="stylesheet" href="css/app.css" />
</head>

<body>
  <div id="app">
    <h1 id="title">{{appTitle}}</h1>

    <!-- new-invitation-notification -->
    <span v-if="invitation" class="new-invitation-msg" @click="gameInit">
      Allow <span style="color: red;">{{guest[1]}}</span> to join ?
    </span>

    <!-- name-input -->
    <div id="name-box" v-if="!hasNickname">
      <h5 id="name-box-title">Enter your nickname</h5>
      <input type="text" id="name-input" placeholder="YOUR NICKNAME" v-model="nickname" @keyup.enter="sendNickname"
        autofocus />
    </div>

    <!-- user-list -->
    <div id="users-list" v-if="isWaiting">
      <li class="user-item" v-for="player in players" v-if="nickname != player[1]" @click="sendJoinRequest(player)">
        {{player[1]}}
      </li>
    </div>

    <!-- game -->
    <div id="game-box" v-if="gameLunched">
      <div v-for="cell in cells" :id="cell.id" :class="cell.class"></div>
    </div>
  </div>
  <script src="js/luncher.js"></script>
  <script src="modules/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="js/app.js"></script>
</body>

</html>